<!DOCTYPE html>
<html lang="en" ng-app="dreamteamApp">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Make IE use latest rendering mode -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>As yet untitled 'soccer' project</title>

  <!-- Styles -->
  <link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- Scripts -->
  <script src="js/lib/require" data-main="js/app"></script>

</head>

<body ng-controller="PlayerCtrl">
  <div class="container">

    <header>
      <hgroup class="jumbotron">
        <h1>Players Repo</h1>
        <h2>An introduction to the repo lives here.</h2>
        <input type="text" class="form-control" placeholder="Enter a player's name..." ng-model="query">
      </hgroup>
    </header>

    <main class="js-show">
      <div class="row">

        <div class="media col-md-6 col-lg-4" ng-repeat="player in players | filter:query">
          <div class="media-left">
            <img class="media-object" ng-src="{{player.imageUrl}}">
          </div>
          <div class="media-body">
            <a href="#/players/{{player.id}}">
              <h2 class="media-heading">{{ player.name }}</h2>
            </a>
            <span><strong>{{ player.position }}</strong></span>
            <span>{{ player.country }}</span>
            <p>{{ player.description }}</p>
          </div>
        </div>

      </div>
    </main>

  </div>
</body>

</html>